body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.name-height{

    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
}
#hot{
    padding-top: 80px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#FF3E8A , #ffa07a); 
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box{
    box-shadow: 10px 10px 40px;
    border-radius: 20px;
    height: 70%;
}

footer p{
    text-align: center;
    font-size: 12px;
}
#latest{
    color: orange;
}
.h2-align{
    text-align: center;
}
.alex-width{
    width: 25%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.size{
    margin: 15px;
}
#experience-area{
   padding-top: 20px;
    height: 600px;
    background-color:whitesmoke;
}
ul{
margin-left: 700px;
}
ul li{
list-style: none;
display: inline-block;
}
ul li a{
text-decoration: none;
padding: 0 20px;
}
nav{
    width: 100%;
}
ul li a :hover{
    color: tomato;
}
#rose{
    width: 600px;
    padding:150px 0 0 350px;
    
}
#germany{
    height: 400px;
}