body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.name-height{

    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
}
#hot{
    padding-top: 80px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#FF3E8A , #ffa07a); 
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.link-button-1{
    text-decoration: none;
    background-image: linear-gradient(45deg,#FF3E8A , #ffa07a); 
    padding: 15px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box{
    box-shadow: 10px 10px 40px;
    border-radius: 20px;
    height: 70%;
}

footer p{
    text-align: center;
    font-size: 12px;
}
#latest{
    color: orange;
}
.h2-align{
    text-align: center;
}
.alex-width{
    width: 25%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.size{
    margin: 15px;
}
#experience-area{
   padding-top: 20px;
    height: 600px;
    background-color:whitesmoke;
}
ul{
margin-left: 700px;
}
ul li{
list-style: none;
display: inline-block;
}
ul li a{
text-decoration: none;
padding: 0 20px;
}
nav{
    width: 100%;
}
ul li a :hover{
    color: tomato;
}

#germany{
    background-image: url(images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 50%;

}
#ff{
  padding: 210px 300px;
  font-size: 50px;
  color: white;
  
}   
#fg{
    font-size: 20px;
    margin-left: 130px;
}
.center{
    color: dimgray;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }